fastapi>=0.119.0
uvicorn[standard]>=0.37.0
pydantic>=2.12.2
SQLAlchemy>=2.0.44
psycopg[binary]>=3.2.10
alembic>=1.17.0
python-multipart>=0.0.20
httpx>=0.28.1
scikit-learn>=1.7.2
langdetect==1.0.9
python-dateutil>=2.9.0
APScheduler>=3.11.0
loguru>=0.7.3
pydantic-settings>=2.11.0
python-jose[cryptography]>=3.5.0
passlib[bcrypt]>=1.7.4
email-validator>=2.3.0
mistralai>=1.9.11
numpy>=2.3.3
tiktoken>=0.12.0
